<div id="login" class="notes">
    
      <div class="container">
        <div class="row">
          <div class="col-12">
              <h2>Add Deal</h2>
          <div class="formContainer">
              <form ng-submit="postComment();">
              <div class="form-group col-md-3">
              <label for="">Item Name</label>
              <input class="form-control" type="text" ng-model="newComment.itemName" placeholder="Enter Name" />
              </div>

              <div class="form-group col-md-3">
              <label for="">Price</label>
              <input class="form-control" type="number" ng-model="newComment.itemPrice" placeholder="Enter Address" />
              </div>

              <div class="form-group col-md-3">
              <label for="">Image Upload</label>
              <input class="form-control" type="file" ngf-select="uploadFiles($files)" ng-model="newComment.img" />
              </div>


              <div class="form-group col-md-3">
              <label for="">Adddress</label>
              <input class="form-control" type="text" ng-model="newComment.address" placeholder="Enter Address" />
              </div>

              <div class="form-group col-md-4 col-sm-6 col-xs-6">
                <button type="submit" class="btn btn-danger">Add</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>