<div class="navbar menubar" id="menu">
  <div class="container">
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
      <span class="glyphicon glyphicon-align-justify"></span>
      </button>
    <a class="navbar-brand logo" href="#">Flash Deals</a> 
    </div>
    <div>
      <nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
        <ul class="nav navbar-nav navbar-right navstyle">
        <li><a class="page-scroll" href="/dashboard">Deals</a></li>
        <li><img class="page-scroll" src="{{user.facebook.profileImageURL}}" alt'avatar'></li> 
        <li><a ng-click="fbLogout()" href="#" class="page-scroll">Logout</a></li>
      </ul>
      </nav>
    </div>
  </div>
</div>

<div id="login" class="notes">
    
      <div class="container">
        <div class="row">
          <div class="col-12">
              <h2>Add Deal</h2>
          <div class="formContainer">
              <form ng-submit="postComment();">
              <div class="form-group col-md-3">
              <label for="">Item Name</label>
              <input class="form-control" type="text" ng-model="newComment.itemName" placeholder="Enter Deal Name" required/>
              </div>

              <div class="form-group col-md-3">
              <label for="">Price</label>
              <input class="form-control" type="number" ng-model="newComment.itemPrice" placeholder="Enter Address" required/>
              </div>

              <div class="form-group col-md-3">
              <label for="">Image Upload</label>
              <input class="form-control" type="file" ngf-select="uploadFiles($files)" ng-model="newComment.img" required/>
              </div>

              <div class="form-group col-md-3">
              <label for="">Adddress</label>
              <input class="form-control" type="text" ng-model="newComment.address" placeholder="Enter Address" required/>
              </div>

              <div class="form-group add col-md-12 col-sm-12 col-xs-12">
                <p><button type="submit" class="button button--ujarak button--border-thin button--text-thick">Add Deal</button></p>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>