<main class="cd-content container">

	<div class="row">
	  <h1>Resume</h1>
	</div>
  
  <div class="row">
    <div class="col s12 m12 l8"><img class="responsive-img" src="img/resume2.png" alt="resume"></div>
    <div class="col s12 m12 l4">
        <a class="button button--ujarak button--border-thin button--text-thick" target="_self" href="downloads/resume.pdf" download="resume.pdf">Download Resume <span><i class="fa fa-file-text" aria-hidden="true"></i></span></a>
    </div>
  </div>

<div class="row"></div>
<div class="row"></div>

	<div class="row">
  <h1>Art Work</h1>
	<div class="slider">
    <ul class="slides">
      <li>
        <img class="responsive-img" src="img/art1.png">  
      </li>
      <li>
        <img class="responsive-img" src="img/art2.png">  
      </li>
      <li>
        <img class="responsive-img" src="img/art3.png">  
      </li>
   
    </ul>
  </div>
	</div>

  <div class="row"></div>
  <div class="row"></div>

</main>