  <main class="cd-content">    
    

  <div class="row">
      <h1>Designs</h1>
  </div>


  <div class="row">
  <div class="col">
      <h2>Logo Designs</h2>
      <h3>Here are a few logos I designed.</h3>
      </div>
  </div>
    
  <div class="row">
    <div class="col s12 m6 l4">
        <div class="card">
          <img class="materialboxed responsive-img" width="650" src="img/art4.png">
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
          <img class="materialboxed responsive-img" width="650" src="img/art5.png">
          </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
          <img class="materialboxed responsive-img" width="650" src="img/art6.png">
          </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Poster Designs</h2>
      <h3>Here are a few posters I designed.</h3>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card">
        <img class="materialboxed responsive-img" width="650" src="img/art1.png">
      </div>
  </div>
  <div class="col s12 m6 l4">
      <div class="card">
        <img class="materialboxed responsive-img" width="650" src="img/art2.png">
        </div>
  </div>
  <div class="col s12 m6 l4">
   <div class="card">
        <img class="materialboxed responsive-img" width="650" src="img/art3.png">
        </div>
  </div>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  </main> <!-- cd-content -->
