  <div class="navbar menubar" id="menu">
    <div class="container">
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
      <span class="glyphicon glyphicon-align-justify"></span>
     </button>
    <a class="navbar-brand logo" href="#">Flash Deals</a> 
    </div>
    <div>
      <nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
        <ul class="nav navbar-nav navbar-right navstyle">
        <li><a class="page-scroll" href="">{{user.facebook.displayName}}</a></li>
        <li><img class="page-scroll" src="{{user.facebook.profileImageURL}}" alt'avatar'></li> 
        <li><a ng-click="fbLogout()" href="#" class="page-scroll">Logout</a></li>
      </ul>
      </nav>
      </div>
  </div>
  </div>

    <div id="login" class="notes">
    
      <div class="container">
        <div class="row">
          <div class="col-12">
              <h2>Dashboard</h2>
          <div class="formContainer">
              <form ng-submit="postComment();">
              <div class="form-group col-md-3">
              <label for="">Item Name</label>
              <input class="form-control" type="text" ng-model="newComment.itemName" placeholder="Enter Name" />
              </div>

              <div class="form-group col-md-3">
              <label for="">Price</label>
              <input class="form-control" type="number" ng-model="newComment.itemPrice" placeholder="Enter Address" />
              </div>

              <div class="form-group col-md-3">
              <label for="">Image Upload</label>
              <input class="form-control" type="file" ngf-select="uploadFiles($files)" ng-model="newComment.img" />
              </div>


              <div class="form-group col-md-3">
              <label for="">Adddress</label>
              <input class="form-control" type="text" ng-model="newComment.address" placeholder="Enter Address" />
              </div>

              <div class="form-group col-md-4 col-sm-6 col-xs-6">
                <button type="submit" class="btn btn-danger">Add</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>



<!-- <form>
<div class="form-group col-lg-6">
<label for="">Search</label>
<input class="form-control" type="text" ng-mode="search.txt" placeholder="search here" autofocus />
</div>

<div class="form-group col-lg-6">
<label for="">Search</label>
<select class="form-control" id="" ng-model="search.group">
<option value="name">Name</option>
<option value="reknown">Reknown</option>
</select>
</div>

<div class="form-group col-lg-6">
<label for="assending">Assending</label>
<input type="radio" ng-model="direction" name="direction" id="assending" checked />

<label for="decending">Decending</label>
<input type="radio" ng-model="direction" name="direction" id="decending" value="reverse">
</div>
</form> -->

<div class="container">
<div class="row">
<div class="col-12">
<div ng-if="alert">
  <uib-alert type="success">{{alert.msg}}</uib-alert>
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-12" ng-repeat="artist in artists | filter: search.txt | orderBy: search.group:direction">
    <div class="form-group col-md-2">
    <h3>Item Name</h3>
    <p>{{ artist.itemName }} </p>
    </div>
    <div class="form-group col-md-2">
    <h3>Item Price</h3>
    <p>${{ artist.itemPrice }} </p>
    </div>
    <div class="form-group col-md-2">
    <h3>Address</h3>
    <p>{{ artist.address }} </p>
    </div>
    <div class="form-group col-md-4">
    <h3>Item Image</h3>
    <p><img class="itemImage" ng-src="{{ artist.itemImage }}"></p>
    </div>
    <div class="form-group col-md-2">
    <h3>Action</h3>
    <button class="btn btn-success" ng-click="removeComment(artist)">Remove</button>
       <button class="btn btn-success" ng-click="open(artist, $index)">Update</button>
    </div>
</div>
</div>
</div>
