  <main class="cd-content container">
    <!-- your content here -->
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>

    <div class="row">
    <dir class="col s12 m3 l3">
      <img class="responsive-img circle profpic" src="img/profilePic.png" alt="profilepic">
    </dir>
    <div class="col m9 l9">
      <h2>Who am I</h2>
      <p>I am Hilson Francis a web designer / developer based in Orlando, FL ready to develop your personalized website. I have a passion for designing and programming websites and applications.</p>
      
      <div class="row"></div>

      <h2>What I can Do?</h2>
      <h3><span><i class="fa fa-ils" aria-hidden="true"></i></span> Design what you want</h3>
      <p>I like to keep it simple. My goals are to focus on typography, colors and layout to convey the message to your audience.</p>
      <h3><span><i class="fa fa-code-fork" aria-hidden="true"></i></span> Develop what you need</h3>
      <p>I'm a developer, so I know how to create your website to run across multiple devices using the latest technologies available.</p>

      <h2>Can I Help!!</h2>
      <h3><span><i class="fa fa-info" aria-hidden="true"></i></span> Freelance</h3>
      <p>Am available for freelance work and would be happy to help you reach your audience through the web and social media platforms.</p>
      <div class="row"></div>
      <div class="row"></div>

      <p>
      <a class="button button--ujarak button--border-thin button--text-thick" href="mailto:hfrancis103@gmail.com" target="_blank">Message <span><i class="fa fa-pencil"></i></span></a>
      </p>
    </div>
    </div>
    <div class="row"></div>
      <div class="row"></div>
  </main> <!-- cd-content -->