	<div class="navbar menubar" id="menu">
    <div class="container">
    <div class="navbar-header"> 
    	<button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
			<span class="glyphicon glyphicon-align-justify"></span>
		 </button>
    <a class="navbar-brand logo" href="#">Flash Deals</a> 
    </div>
    <div>
    	<nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
        <ul class="nav navbar-nav navbar-right navstyle">
        <li><a href="#banner" class="page-scroll active">Home</a></li>
        <li><a href="#login" class="page-scroll">Login</a></li>
        <li><a href="#gallery" class="page-scroll">Gallery</a></li>
      </ul>
      </nav>
      </div>
  </div>
  </div>
<!-- <div class="features" id="features">
    <div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="alldesc">
            <div class="col-md-6 col-sm-6 col-xs-12 centertext">
            <p class="all-td">What's Coming New</p>
            <h2>Features</h2>
          </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisl. Etiam a facilisis ante. Sed turpis felis, sagittis at risus ut, luctus feugiat ipsum. Lorem ipsum dolor sit amet.</p>
          </div>
          </div>
      </div>
        <div class="col-md-6 col-sm-6 col-xs-12 featurebox">
        <div class="feature-icons"> <img src="img/idea.png"/></div>
        <div class="fh-desc">
            <h3>Creative Ideas</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisl. Etiam a facilisis ante. Sed turpis felis, sagittis at risus ut, luctus feugiat ipsum.</p>
          </div>
      </div>
        <div class="col-md-6 col-sm-6 col-xs-12 featurebox">
        <div class="feature-icons"> <img src="img/time.png"/> </div>
        <div class="fh-desc">
            <h3>Save Time</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisl. Etiam a facilisis ante. Sed turpis felis, sagittis at risus ut, luctus feugiat ipsum.</p>
          </div>
      </div>
        <div class="col-md-6 col-sm-6 col-xs-12 featurebox">
        <div class="feature-icons"> <img src="img/money.png"/> </div>
        <div class="fh-desc">
            <h3>Save Money</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisl. Etiam a facilisis ante. Sed turpis felis, sagittis at risus ut, luctus feugiat ipsum.</p>
          </div>
      </div>
        <div class="col-md-6 col-sm-6 col-xs-12 featurebox">
        <div class="feature-icons"> <img src="img/support.png"/> </div>
        <div class="fh-desc">
            <h3>Great Support</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisl. Etiam a facilisis ante. Sed turpis felis, sagittis at risus ut, luctus feugiat ipsum.</p>
          </div>
      </div>
      </div>
  </div>
  </div> -->
  <div id="login" class="notes">
    <div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-10 col-12">
        <h2>Login with Facebook</h2>
      </div>
        <div class="col-md-3 col-sm-2 col-xs-12 text-center">
        <button ng-click="fbLogin()">Login</button>
      </div>
      </div>
  </div>
  </div>
<div class="gallery" id="gallery">
    <div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="alldesc">
            <div class="col-md-6 col-sm-6 col-xs-12 centertext">
            <p class="all-td">Our preciously done works</p>
            <h2>Gallery</h2>
          </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisl. Etiam a facilisis ante. Sed turpis felis, sagittis at risus ut, luctus feugiat ipsum. Lorem ipsum dolor sit amet.</p>
          </div>
          </div>
      </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="grid mix category-2 col-md-4 col-sm-6 col-xs-6">
					<figure class="effect-Beauty">
						<img src="img/unsplash004.jpg" alt="img13"/>
						<figcaption>
							<h2>Glowing <span>Sun<span></h2>
							<p>Beauty did not need any help. Everybody knew that.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
          </div>
           <div class="grid mix category-1 col-md-4 col-sm-6 col-xs-6" data-myorder="2">
					<figure class="effect-Beauty">
						<img src="img/unsplash009.jpg" alt="img13"/>
						<figcaption>
							<h2>High <span>Sky</span></h2>
							<p>Beauty did not need any help. Everybody knew that.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
          </div>
           <div class="grid mix category-1 col-md-4 col-sm-6 col-xs-6" data-myorder="3">
					<figure class="effect-Beauty">
						<img src="img/unsplash0010.jpg" alt="img13"/>
						<figcaption>
							<h2>Darkest <span>Rain</span></h2>
							<p>Beauty did not need any help. Everybody knew that.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
          </div>
           <div class="grid mix category-2 col-md-4 col-sm-6 col-xs-6" data-myorder="4">
					<figure class="effect-Beauty">
						<img src="img/unsplash002.jpg" alt="img13"/>
						<figcaption>
							<h2>Beautiful <span>Heart</span></h2>
							<p>Beauty did not need any help. Everybody knew that.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
          </div>
           <div class="grid mix category-2 col-md-4 col-sm-6 col-xs-6" data-myorder="5">
					<figure class="effect-Beauty">
						<img src="img/unsplash006.jpg" alt="img13"/>
						<figcaption>
							<h2>Cute <span>Imagine</span></h2>
							<p>Beauty did not need any help. Everybody knew that.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
          </div>
           <div class="grid mix category-1 col-md-4 col-sm-6 col-xs-6" data-myorder="6">
					<figure class="effect-Beauty">
						<img src="img/unsplash004.jpg" alt="img13"/>
						<figcaption>
							<h2>Glowing <span>Sun</span></h2>
							<p>Beauty did not need any help. Everybody knew that.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
          </div>
           <div class="grid mix category-2 col-md-4 col-sm-6 col-xs-6" data-myorder="7">
					<figure class="effect-Beauty">
						<img src="img/unsplash0010.jpg" alt="img13"/>
						<figcaption>
							<h2>Darkest <span>Rain</span></h2>
							<p>Beauty did not need any help. Everybody knew that.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
          </div>
           <div class="grid mix category-1 col-md-4 col-sm-6 col-xs-6" data-myorder="8">
					<figure class="effect-Beauty">
						<img src="img/unsplash002.jpg" alt="img13"/>
						<figcaption>
							<h2>Beautiful <span>Heart</span></h2>
							<p>Beauty did not need any help. Everybody knew that.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
          </div>
           <div class="grid mix category-1 col-md-4 col-sm-6 col-xs-6" data-myorder="9">
					<figure class="effect-Beauty">
						<img src="img/unsplash004.jpg" alt="img13"/>
						<figcaption>
							<h2>Glowing <span>Sun</span></h2>
							<p>Beauty did not need any help. Everybody knew that.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
          </div>
     </div>
  </div>
  </div>
  </div>

<div class="about" id="about">
    <div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="alldesc">
            <div class="col-md-6 col-sm-6 col-xs-12 centertext">
            <p class="all-td">What You Want To Know</p>
            <h2>About Us</h2>
          </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisl. Etiam a facilisis ante. Sed turpis felis, sagittis at risus ut, luctus feugiat ipsum. Lorem ipsum dolor sit amet.</p>
          </div>
          </div>
      </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="progresscount">
 
          </div>
      </div>
      </div>
  </div>
  </div>


<div class="address" id="contact">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12">
        		<div class="alldesc">
            		<div class="col-md-6 col-sm-6 col-xs-12 centertext">
            			<p class="all-td">How To Get In Touch</p>
            			<h2>Contact</h2>
          			</div>
            		<div class="col-md-6 col-sm-6 col-xs-12 info centertext">
            			<p>Address: 6541 Centerwalk Drive</p>
                        <p>Tel No : +3474430176</p>
                        <p>Email : hfrancis103@gmail.com</p>
          			</div>
          		</div>
      		</div>        
        </div>
    </div>
</div>
<footer class="foot"> 
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12">
            	<h4 class="foot-logo">Flash Deals</h4>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 text-center">
            	<p class="foot-text">Copyrights &copy; 2015 | Designed By : Hilson Francis.</p>
            </div>
        </div>
    </div>
</footer>
