    <div class="modal-header">
		<button type="button" class="close" ng-click="cancel()">&times;</button>
		<h2 class="modal-title">Update Deal</h2>
    </div>
    <div class="modal-body">
		<form ng-submit="updateInfo()">
			<div class="form-group col-lg-6">
			<label for="">Update Deal Name</label>
			<input class="form-control" type="text" ng-model="editArtist.itemName" ng-change="artists.$save(artist)" placeholder="{{updateArtist.name}}" autofocus />
			</div>

			<div class="form-group col-lg-6">
			<label for="">Update Price</label>
			<input class="form-control" type="text" ng-model="editArtist.itemPrice" ng-change="artists.$save(artist)" autofocus />
			</div>
			
			<div class="form-group col-lg-6">
			<label for="">Update Image</label>
			<input class="form-control" type="file" ngf-select="uploadFiles($files)" ng-model="editArtistImg" autofocus />
			</div>

			<div class="form-group col-lg-6">
			<label for="">Update Adddress Name</label>
			<input class="form-control" type="text" ng-model="editArtist.address" ng-change="artists.$save(artist)" placeholder="{{updateArtist.address}}" autofocus />
			</div>
		</form>
	</div>
	<div class="modal-footer">
    <button class="button button--ujarak button--border-thin button--text-thick" ng-click="ok()">Save Changes</button>
    <button class="button button--ujarak button--border-thin button--text-thick" ng-click="cancel()">Cancel</button>
	</div>




