  <main class="cd-content">    
    <div class="row">
      <a class="fa fa-arrow-left" href="/projects"></a>  
      <h1>Mountain Top</h1>
    </div>
    
    <div class="row">

      <div class="col s12 m8 l8">
        <h2>What does it do?</h2>
        <p>
          Mountaintop is a brochure website for a ski resort. This website features slope information and more.
        </p>
      </div>
      <div class="col s12 m4 l4">
        <img class="responsive-img" src="img/img3.png" alt="flashdeals">
      </div>
    </div>
    
    <div class="row"></div>

    <div class="row">
    <h2>Technology Stack</h2>
    
    <ul class="col s6 m3 l3">
      <h3><span><i class="fa fa-css3" aria-hidden="true"></i></span> Frontend</h3>
      <li>HTML</li>
      <li>CSS</li>
    </ul>

    <ul class="col s6 m3 l3">
      <h3><span><i class="fa fa-code-fork" aria-hidden="true"></i></span> Backend</h3>
      <li></li>
      <li></li>
      <li></li>     
    </ul>

    <ul class="col s6 m3 l3">
      <h3><span><i class="fa fa-code" aria-hidden="true"></i></span> API</h3>
      <li>Google Maps</li>
      <li>Facebook</li>
    </ul>

    
    <ul class="col s6 m3 l3">
      <h3><span><i class="fa fa-database" aria-hidden="true"></i></span> Database</h3>
      <li></li>
      <li></li>
    </ul>
    </div>
    

  <div class="row"></div>
  <div class="row"></div>
  
  <div class="row">
<a class="button button--ujarak button--border-thin button--text-thick" href="http://hilsonf.github.io/WIA/index.html" target="_blank">View Project</a>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  </main> <!-- cd-content -->
