.modal-body{
	overflow: hidden;
}
/*------------------------------------------/
/-----------------Form--------------------/
/------------------------------------------*/
.modal-body .form-group{
	text-align: center !important;
}
.modal-body .form-control{
	background-color: transparent !important;
	text-align: center !important;
	border: transparent !important;
	border-bottom: 2px solid #888 !important;
	box-shadow: none !important;
	border-radius: 0px !important; 
}

.modal-body .form-group label{
	font-size: 1.5em;
	font-weight: 400;
	color: #EB7263;
}
.modal-body input:focus{
	border-bottom: 2px solid #3EC9C3 !important;
	color: #888;
	font-size: 1.5em;
}
.formContainer form .form-group {
	text-align: center;
}
.formContainer form .form-group label{
	font-size: 1.5em;
	font-weight: 400;
	color: #fff;
}
.formContainer form .form-group button{
	color: #fff;
}
#details{
	padding-top: 80px;
}
/*------------------------------------------/
/-----------------Header--------------------/
/------------------------------------------*/
*
{
	padding: 0px;
	margin: 0px;
}

#heads:before, #heads:after {
			background: rgba(224, 224, 224, 0.75);
			content: '';
			left: 50%;
			position: absolute;
			width: 1px;
			z-index: 0;
		}
		#heads::before {
    height: calc(100%);
    opacity: 0.15;
    top: 0px;
}
.line:before
{
	background: rgba(224, 224, 224, 0.75);
			content: '';
			position: absolute;
			width:100%;
			z-index: 0;
			padding-left:0px !important;
}
.line::before
{
    height: 1px;
    opacity: 0.15;
	top: 32px;
	left: 0px;
}
#menu:before
{
	background: rgba(224, 224, 224, 0.75);
			content: '';
			position: absolute;
			width: 100%;
			z-index: 0;
}
#menu::before {
    height: 1px;
    opacity: 0.15;
	bottom: 100px;
}
.tablebox
{
	display: table;
	width: 100%;
}
.hostyle
{
	font-family: 'Pacifico', cursive;
	color: #33A29D;
	font-size: 60px;
}
.desc {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #888;
}
.pstyle
{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	padding: 0px !important;
}
.banner-text h2
{
	color: #fff;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.menubar
{
	margin-bottom: 0px !important;
	background-color: #3EC9C3;
	border: none !important;
	border-radius: 0px !important;
	z-index: 2;
}
.logo
{
	padding: 10px 15px !important;
	display: inline-block;
	height: auto !important;
	font-family: 'Pacifico', cursive;
	color: #fff !important;
	font-size: 34px !important;	
}

.navstyle li a
{
	padding: 24px 15px !important;
	color: #fff;
	font-family: "Source Sans Pro",sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.navstyle li a:hover, .navstyle li a:focus, .navstyle li a.active
{
	background-color: #33a29d !important;
	color: #fff;
}
#myNavbar ul li img{
height: 68px;
border-radius: 50%;
}
.navbar-right {
    float: right !important;
    margin-right: 0px !important;
}



/*------------------------------------------/
/-----------------Fomr--------------------/
/------------------------------------------*/

.formContainer{
	margin-top: 2%; 
}

.itemImage{
	width: 300px;
	height: 300px;
}

.angular-google-map-container { 
	width:  100%;
	height: 400px; 
}

.modal-dialog{
	width: 80% !important;
}
.modal-header{
	text-align: center;
}

.modal-footer {
    background: #3EC9C3
}

.list-group-item .row .col-md-12{
	text-align: center;
}

.itemInfo{
	overflow: auto;
	height: 400px;
}


/*------------------------------------------/
/-----------------Gallery-------------------/
/------------------------------------------*/

.gallery
{
	padding: 60px 0px;
}
.all-td
{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 300;
	color: #242424;
	text-transform: uppercase;
	margin: 0px;
	letter-spacing: 2px;
}
h2, .notes h2, .modal-header h2 
{
    color: #CB5750!important;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 40px;
    margin-top: 0px !important;
    font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.galleryimg
{
	margin-top: 30px;
}
.mix
{
	padding: 0px;
}


#galleryimg .mix{
	display: none;
}


.grid {
	position: relative;
	margin: 20px auto 0px;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
	font-size: 30px;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-family: "Source Sans Pro",sans-serif;
	font-size: 65.6%;
}
.grid figure p span {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 2em;
}


figure.effect-Beauty{
	background-color: #17819c;
	width: 100%;
}

figure.effect-Beauty img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
	 
}

figure.effect-Beauty:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-Beauty h3 {
	margin-top: 0%;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-Beauty p {
	padding: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
} 

figure.effect-Beauty:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-Beauty:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.effect-Beauty a{
	font-weight: 400;
	font-size: 1.5em;
	color: #fff;
}
figure.effect-Beauty a:hover{
	font-weight: 400;
	color: #EB7263;
	text-decoration: none;
}



/*------------------------------------------/
/-----------------Note----------------------/
/------------------------------------------*/
.notes
{
	background-color: #17819C;
	padding: 60px 0px;
}
.notes p
{
	color: #fff;
	font-family: "Source Sans Pro",sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin: 0px;
}
.notes h2{
	margin-bottom: 2.5%;
}

/*------------------------------------------/
/-----------------About---------------------/
/------------------------------------------*/

.about
{
	padding: 100px 0px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.block
{
	padding-left: 0px !important;
}


.add{
	margin-top: 2%; 
}

.add button{
	font-weight: 800;
	color: #eb7261;
}

/*------------------------------------------/
/-----------------Team----------------------/
/------------------------------------------*/

/* Common button styles */
.button {
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 10px auto;
	padding: 1em 2em;
	border: 1px solid #FFF;
	background: none;
	color: #fff;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

.button--ujarak::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #eb7261;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak.button--round-s::before {
	border-radius: 2px;
}
.button--ujarak.button--inverted::before {
	background: #7986CB;
}
.button--ujarak,
.button--ujarak::before {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak:hover {
	color: #fff;
	border-color: #eb7261;
}
.button--ujarak.button--inverted:hover {
	color: #fff;
	border-color: #eb7261;
}
.button--ujarak:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}


/*------------------------------------------/
/-----------------Subscribe------------------/
/------------------------------------------*/


.address
{
	padding: 60px 0px;
	background-color: rgba(0,0,0,0.1)
}
.info p
{
	font-family: "Source Sans Pro",sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	color: #888;
}
.btn-or
{
	background-color: #fff !important;
	border: 1px solid #fff !important;
	color: #CB5750 !important;
}
.form-control::-webkit-input-placeholder { color: white !important; }
.form-control:-moz-placeholder { color: white !important; }
.form-control::-moz-placeholder { color: white !important; }
.form-control:-ms-input-placeholder { color: white !important; }

/*------------------------------------------/
/-----------------Footer--------------------/
/------------------------------------------*/
.foot
{
	padding: 50px 0px 30px;
}
.foot-logo
{
	font-family: 'Pacifico', cursive;
	color: #3EC9C3;	
	font-size: 30px;
	text-align: center;
}
.foot-text
{
	color: #888;
	font-family: "Source Sans Pro",sans-serif;
	font-size: 12px;
	font-weight: 600;
	padding: 20px 0px;
	text-transform: uppercase;
}
.foot-text a
{
	color: #3EC9C3;	
}

@media (min-width: 200px) and (max-width: 767px) {
.navstyle{
	width: 100% !important;
}
.navstyle li a {
    padding: 10px 15px !important;
    text-align: center;
    display: block;
}
.notes button
{
margin-top: 20px;
}
.centertext
{
text-align: center;
}
.btn-or
{
margin-top: 20px;
display: inline-block;
}
.menu-button {

    padding: 8px 10px !important;
    margin-top: 9px !important;
    font-size: 30px !important;
	color: #fff;
}
figure.effect-Beauty h2 {
    margin-top: 15%;
    font-size: 16px;
}
.col-xs-6{
	width: 100% !important;
}

.features, .about, .notes, .testimonials, .address, .gallery{
padding: 40px 0px;
	}
}
.notes button {
    padding: 14px 19px;
    font-size: 13px;
}
}
@media (min-width: 100px) and (max-width: 350px) {
.sorting {

    font-size: 10px;

}
}
