/* -------------------------------- 

      My Styles

-------------------------------- */
a {
  color: #1e6074;
  text-decoration: none;
  text-align: center; 
}
.profpic{
  border: 8px solid #a76500;
}

.right-align a{
    position: relative;
    right: 10px;
}